/ExcelTool/obj
/.vs
/ExcelTool/bin/Debug/ru
/ExcelTool/bin/Debug/zh-Hans
/ExcelTool/bin/Debug/ja
/ExcelTool/bin/Debug/Excel
/ExcelTool/bin/Debug/es
/ExcelTool/bin/Debug/de
/ExcelTool/bin/Release
/ExcelTool/bin/Debug/ExcelTool.pdb
/ExcelTool/bin/Debug/ExcelTool.exe.manifest
/ExcelTool/bin/Debug/ExcelTool.exe.config
/ExcelTool/bin/Debug/ExcelTool.exe
/ExcelTool/bin/Debug/ExcelTool.application
/ExcelTool/bin/Debug/EasyConfig.pdb
/ExcelTool/bin/Debug/DevExpress.XtraTreeList.v15.1.xml
/ExcelTool/bin/Debug/DevExpress.XtraPrinting.v15.1.xml
/ExcelTool/bin/Debug/DevExpress.XtraLayout.v15.1.xml
/ExcelTool/bin/Debug/DevExpress.XtraGrid.v15.1.xml
/ExcelTool/bin/Debug/DevExpress.XtraEditors.v15.1.xml
/ExcelTool/bin/Debug/DevExpress.XtraBars.v15.1.xml
/ExcelTool/bin/Debug/DevExpress.Utils.v15.1.xml
/ExcelTool/bin/Debug/DevExpress.Sparkline.v15.1.Core.xml
/ExcelTool/bin/Debug/DevExpress.RichEdit.v15.1.Core.xml
/ExcelTool/bin/Debug/DevExpress.Printing.v15.1.Core.xml
/ExcelTool/bin/Debug/DevExpress.Office.v15.1.Core.xml
/ExcelTool/bin/Debug/DevExpress.Data.v15.1.xml
/ExcelTool/bin/Debug/Config.ini
/ExcelTool/bin/Debug/System.Net.Http.xml
/ExcelTool/bin/Debug/app.publish
